.site-header {
  @include breakpoint($display-large) {
    float: none;
    border-bottom: 3px solid #003f87;

    //Prevents overlap of Western logo and site nav links
    min-height: 135px;

    //Prevents banner image distortion
    min-width: 945px;

    .site-name {
      display: none;
    }

    .site-banner img{
      min-height: 135px;
    }
  }
}

header.page-title {
  border-bottom: none;
}

header[role="banner"] {
  @include breakpoint($display-large) {
    padding-top: 0;

    > div {
        border: 0;
        overflow: visible;
        position: inherit;
        max-height: none;
    }
  }
}
