.main-nav {
  @include breakpoint($display-large) {
    padding: 0 10%;

    div div .menu li {
      padding: 5px;
    }

    .menu {
      li {
        background-color: white;
        float: right;
        padding-left: 5px;
        padding-right: 5px;

        a {
          color: $wwu-blue;

          &:active, &:focus {
            color: $wwu-blue;
          }
        }

        &:active, &:focus-within, &:hover{
          background-color: lighten($wwu-light-blue, 40%);
          color: $wwu-blue;
        }
      }

      li.active {
        background-color: lighten($wwu-light-blue, 30%);

        &:hover, &:focus{
          background-color: lighten($wwu-light-blue, 40%);
        }
      }
    }
  }
}

.western-header {
  @include breakpoint($display-large) {
    background: rgba(255, 255, 255, .8);
    border-bottom: 6px solid $wwu-light-blue;
    box-sizing: content-box;
    float: none;
    height: 60px;
    left: 0;
    margin: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1;
  }

  nav[role="navigation"] {
    @include breakpoint($display-large) {
      float:right;
      padding-right: 10%;
      width: 100%;
    }
  }

  nav {
    z-index: 2;

    @include breakpoint($display-large) {
      position: absolute;
      right: 0;
      top: 0;
    }
  }

  .western-logo {
    @include breakpoint($display-large) {
      margin-left: 0;
      padding-left: 9.1%;
      z-index: 2;
    }
  }

  .western-header-nav-group {
    @include breakpoint($display-large) {
      float: right;
      padding: 22px 0 0 0;
      text-align: right;
      z-index: 1;
    }
  }

  > .center-content {
    @include breakpoint($display-large) {
      height: 60px;
      overflow: visible;
      position: relative;
    }
  }

  .western-search{
    .western-search-widget {
      @include breakpoint($display-large) {
        right: 9%;
        text-align: left;
        top: 65px;
      }
    }
  }
}
