body {
  border-top: 0;
}

main {
  background-image: none;

  @include breakpoint($display-large) {
    padding: 0 10%;
  }
}

.page {
  max-width: none;
}

.menu-link-icon:before {
  color: #003f87;
}

.submit-me {
  @include appearance(none);
  background: $wwu-lime url('../images/Icon-Submit.svg') 10% 50% no-repeat;
  color: $wwu-blue;
  font-size: 1.2em;
  font-weight: bold;
  padding: 1em 1.2em 1em 4em;
}

.wwu-75-percent-right-column,
.wwu-25-percent-left-column {
  padding-top: 2em;
}

.wwu-75-percent-right-column {

  .item-list ul {
    list-style: none;
    margin: 0;
    padding: 0 25px;

    a {
      color: $wwu-blue;
    }

    .featured-event-node-title {
      font-size: 2em;
      font-weight: 100;
      margin-top: 0;
    }

    .event-detail:before {
      color: $wwu-light-blue;
      display: inline-block;
      float: left;
      font-family: 'fontello';
      margin-right: 1em;
      speak: none;
      text-align: center;
      width: 1em;
    }

    /* Calendar fontello icon */
    .featured-date::before {
      content: '\e800';
    }

    /* Clock fontello icon */
    .featured-time::before {
      content: '\e801';
    }

    /* Map pin fontello icon */
    .featured-venue::before{
      content: '\f031';
    }

    /* Information 'i' fontello icon */
    .featured-url::before {
      content: '\e802';
    }

    .event-detail {
      color: $wwu-blue;
      font-size: 1.1em;
      font-weight: 100;
      line-height: 2em;
      padding-left: 5%;
    }

    .event-description {
      max-width: $display-large;
      padding-bottom: 1em;
      padding-top: 1em;

      p {
        margin-bottom: 0;
      }
    }
  }
}
