.view-academic-events-view {

  .view-filters {
    background-color: $wwu-lime;
    padding: 0 0 1em;
  }

  .views-exposed-form {
    align-content: space-around;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;

    label {
      @include squish-text;
    }

    select {
      @include appearance(none);
      background-image: url('../images/sort.svg');
      background-position: center right 10px;
      background-repeat: no-repeat;
      background-size: 10px;
      border: 2px solid $input-text-border-color;
      box-sizing: content-box;
      border-radius: 3px;
      font-family: inherit;
      font-size: inherit;
      height: 1.5em;
      padding: .25em 30px .25em .5em;
    }
  }

  .views-exposed-widgets {
    margin: 0;
  }

  .views-exposed-widget {
    float: none;
    padding: 0;
  }

  .date-month {
    background-color: $academic-calendar-month-background-color;
  }
}
