.view-all-events-view {

  .view-header {
    background-color: $wwu-light-blue;
    padding: 0 0 1em;
  }

  .date-month {
    background-color: $all-events-month-background-color;
  }
}

.full-calendar-link {
  display: flex;
  justify-content: center;

  a {
    background: $wwu-blue;
    border: 2px solid $wwu-blue;
    color: #fff;
    display: block;
    padding: .25em 1.25em;
    text-decoration: none;
  }

  a:hover {
    background-color: $wwu-lime;
    border-color: $wwu-lime;
    color: $wwu-blue;
    text-decoration: none;
  }

  a:focus {
    background-color: $wwu-lime;
    border-color: $wwu-blue;
    box-shadow: none;
    color: $wwu-blue;
  }
}
