#calendar {

  .pane-title {
    align-items: center;
    color: $light-text-color;
    display: flex;
    justify-content: center;
    margin: 0;
  }
}

.pane-featured-events-view-panel-pane-1 .pane-title {
  background-color: $wwu-blue;
  padding: 1em 1em 2.5em;
}

.pane-all-events-view-panel-pane-1 .pane-title {
  background-color: $wwu-light-blue;
  padding: 1em 1em .5em;
}

.pane-academic-events-view-panel-pane-1 .pane-title {
  background-color: $wwu-lime;
  color: $wwu-blue;
  margin-bottom: 0;
  padding: 1em 1em .5em;
}

.calendar-item-date {
  margin: 0 1em 0 0;
  text-align: center;

  .date-display-single,
  .date-display-start,
  .date-display-end {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 3em;
  }
}

.date-month {
  font-size: 80%;
  text-transform: uppercase;
}

.date-day-of-month {
  background-color: $wwu-blue;
  color: $light-text-color;
  font-size: 100%;
}

.view-featured-events-view,
.view-all-events-view,
.view-academic-events-view {

  .views-row {
    border-bottom: 1px solid #ddd;
    margin-bottom: 1em;
    padding-bottom: 1em;
  }

  .view-content {
    margin-top: 1em;
  }

  .ajax-progress-throbber {
    display: none;
  }
}

.view-all-events-view,
.view-academic-events-view {

  .views-row {
    display: flex;
  }
}

.calendar-calendar tr {
  border-bottom: 0;
}

.calendar-calendar .month-view .full td.multi-day div.monthview,
.calendar-calendar .week-view .full td.multi-day div.weekview,
.calendar-calendar .day-view .full td.multi-day div.dayview {

  a {
    color: $wwu-blue;
  }
}

.calendar-calendar .month-view .full td.single-day div.monthview,
.calendar-calendar .week-view .full td.single-day div.weekview,
.calendar-calendar .day-view .full td.single-day div.dayview {
  border-radius: 0;
  background: #fff;
}
