.view-calendar-full-view {
  line-height: 1.5;

  .date-nav-wrapper .date-nav {
    padding: 0;
    margin: 0;
  }

  .pager {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;

    .date-prev,
    .date-next {
      background: none;
      padding: 0;
      position: static;
      right: auto;
      top: auto;

      a {
        background: $wwu-blue;
        border: 2px solid $wwu-blue;
        color: #fff;
        display: block;
        font-size: inherit;
        font-weight: normal;
        margin: 0;
        outline: 0;
        padding: 1em;
        text-transform: uppercase;
      }

      a:hover {
        background: $wwu-ocean-blue;
        border-color: $wwu-ocean-blue;
        outline: 0;
      }

      a:focus {
        border-color: #fff;
        outline: 0;
      }
    }
  }

// /calendar-full-view styles

  .calendar-calendar {

    .month-view {
      .full {
        tr {
          th.days, td.date-box {
            color: $wwu-black;

            a {
              color: mix($ashlar-link-color, $wwu-blue, 50%);
            }
          }
          td.empty {
            color: transparentize($wwu-black, .4);
          }

          td {
            a {
              color: $ashlar-link-color;
              text-decoration: underline;

              &:hover, &:focus, &:active {
                text-decoration: none;
                color: $wwu-blue;
              }
            }

            span {
              &.date-display-single {
                color: $wwu-black;
              }
            }
          }
        }
      }
    }

    .month-view, .week-view, .day-view {
      .full {

        td.single-day, td.multi-day {
          .inner {
            div.view-item {
              a {
                &:hover, &:focus, &:active {
                  @include link-hover-background();
                }
              }
            }
          }
        }

        td.multi-day {
          div {
            .monthview, .weekview, .dayview {
              background: $wwu-ocean-blue;
              color: white;

              a {
                color: white;
                text-decoration: underline;

                &:hover, &:focus, &:active {
                  color: $wwu-blue;
                  text-decoration: none;
                }
              }

              .continues, .continuation, .cutoff {
                background: $wwu-ocean-blue;
              }

              span {
                &.date-display-single {
                  color: white;
                }
              }
            }
          }
        }

        td.inner {
          div {
            &.calendar, &.monthview, &.weekview, &.calendar.monthview {
              div {
                a {
                  &:hover, &:focus, &:active {
                    @include link-hover-background();
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
