.view-id-featured_events_view {

  .views-column {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: 100%;
  }

  .views-field.views-field-field-image {

    .field-content {
      width: 100%;
    }
  }

  .views-field.views-field-title {
    font-size: 1.4em;
    padding-bottom: .4em;
  }
}
