@import 'compass';
@import 'zen';
@import 'breakpoint';

$zen-box-sizing: border-box;
$zen-auto-include-item-base: false;
$zen-auto-include-flow-item-base: false;

@mixin link-hover-background {
  background: scale-color($wwu-gray, $lightness: 10%);
}

@import 'modules/all';
