// -----------------------------------------------------------------------------
//
// TEXT COLORS
//
// -----------------------------------------------------------------------------

// LIGHT

$light-text-color: #fff;

// -----------------------------------------------------------------------------
//
// CALENDAR COLORS
//
// -----------------------------------------------------------------------------

// ALL EVENTS

$all-events-month-background-color: #cee5ea;
$wwu-gray: #e3e7e9;
$ashlar-link-color: #006ebb;

// ACADEMIC CALENDAR

$academic-calendar-month-background-color: #e3ef9d;

// -----------------------------------------------------------------------------
//
// FORM CONTROL COLORS
//
// -----------------------------------------------------------------------------

// INPUT
$input-text-border-color: #ddd;
