@font-face {
  font-family: 'fontello';
  src: url('../font/fontello.eot?6584452');
  src: url('../font/fontello.eot?6584452#iefix') format('embedded-opentype'),
       url('../font/fontello.woff2?6584452') format('woff2'),
       url('../font/fontello.woff?6584452') format('woff'),
       url('../font/fontello.ttf?6584452') format('truetype'),
       url('../font/fontello.svg?6584452#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}

$font-family-serif: Georgia, "Times New Roman", "DejaVu Serif", serif;
